<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IZTBDService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8989/ztbd/BasicHttpBinding_IZTBDService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZTBDService"
                contract="ZTBDService.IZTBDService" name="BasicHttpBinding_IZTBDService" />
        </client>
    </system.serviceModel>
</configuration>